@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
    <h2 style ="color: purple">@ViewData["Title"]</h2>

    <br />
    <br />


    <h2>Arda Boran Güzel</h2>
    <h2><a href="https://www.ardaboranguzel.com" target="_blank">ardaboranguzel.com</a></h2>
    <h2>122444032</h2>
    <br/>
    <br />
    <h2>Arda Çimen</h2>
    <h2>12244034</h2>
    <br />
    <br />
    <h2>Ahmet Şirin</h2>
    <h2>122444</h2>

</div>